header{
font-size: 30px;
background-color: rgb(29, 26, 231);
color: aliceblue;
text-align: center;
background-image: url(https://i.ytimg.com/vi/xSESHJe2GP8/maxresdefault.jpg); 
height: 100px;
}